body {
	color:black;
	font-family: 'Cabin', sans-serif;
	background-color: Green;
	font-size: 30px;
	;
}

.myButton {
	-moz-box-shadow: 3px 4px 0px 0px #1564ad;
	-webkit-box-shadow: 3px 4px 0px 0px #1564ad;
	box-shadow: 3px 4px 0px 0px #1564ad;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
	background:-moz-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-webkit-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-o-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:-ms-linear-gradient(top, #79bbff 5%, #378de5 100%);
	background:linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5',GradientType=0);
	background-color:#79bbff;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:2px solid #337bc4;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
	padding:13px 28px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528ecc;
}

.myButton:active {
	position:relative;
	top:9px;
}


#list {
	padding-top: 30px;
	float: center;
}


#output{
	font-family: 'Cabin', sans-serif;
}

.can
{
	display: flex;
	flex-flow: column nowrap;
	width: 20%;
	justify-content: flex-end;
}

.can > p
{
	text-align: right;


}
.can > p > input[type="text"]
{
	width: 75px;
	float: right;
		margin-right: 15px;
}

body p input {

margin-left: 10px;


}
